<% include ./partials/header %>

<style type="text/css">
    h2 {
        color: #333;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        margin: 30px 0 60px;
    }

    h2::after {
        content: "";
        width: 100px;
        position: absolute;
        margin: 0 auto;
        height: 3px;
        background: #8fbc54;
        left: 0;
        right: 0;
        bottom: -10px;
    }

    .col-center {
        margin: 0 auto;
        float: none !important;
    }

    .carousel {
        margin: 50px auto;
        padding: 0 70px;
    }

    .carousel .item {
        color: #999;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        min-height: 290px;
    }

    .carousel .item .img-box {
        width: 135px;
        height: 135px;
        margin: 0 auto;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 50%;
    }

    .carousel .img-box img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
    }

    .carousel .testimonial {
        padding: 30px 0 10px;
    }

    .carousel .overview {
        font-style: italic;
    }

    .carousel .overview b {
        text-transform: uppercase;
        color: #7AA641;
    }

    .carousel .carousel-control {
        width: 40px;
        height: 40px;
        margin-top: -20px;
        top: 50%;
        background: none;
    }

    .carousel-control i {
        font-size: 68px;
        line-height: 42px;
        position: absolute;
        display: inline-block;
        color: rgba(0, 0, 0, 0.8);
        text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
    }

    .carousel .carousel-indicators {
        bottom: -40px;
    }

    .carousel-indicators li,
    .carousel-indicators li.active {
        width: 10px;
        height: 10px;
        margin: 1px 3px;
        border-radius: 50%;
    }

    .carousel-indicators li {
        background: #999;
        border-color: transparent;
        box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
    }

    .carousel-indicators li.active {
        background: #555;
        box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
    }
</style>

<div class='container-fluid'>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
        <div class="col-md-12 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Tertarik untuk bergabung di yourhealth ?</h1>
            <p class="lead font-weight-normal">Dengan menjadi ahli kesehatan di yourhealth anda dapat mendapatkan
                benefits sebagai berikut :</p>
            <div class="ui list">
                <a class="item">
                    <i class="clock icon large"></i>
                    <div class="content">
                        <div class="header">Fleksibel, Kapan Saja, dan Dimana Saja</div>
                    </div>
                </a>
                <a class="item">
                    <i class="user md icon large"></i>
                    <div class="content">
                        <div class="header">Memperluas koneksi anda dengan ahli kesehatan lainnya</div>
                    </div>
                </a>
                <a class="item">
                    <i class="heart icon large"></i>
                    <div class="content">
                        <div class="header">Membantu dan mengedukasi masyarakat tentang isu kesehatan</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="w-50 pa3 pa4-ns bg-white black-70 f3 times">
            <header class="bb b--black-70 pv4">
                <h7 class="f8 fw5 lh-title mt0">Cara-cara untuk menjadi ahli kesehatan pada yourhealth :</h7>
            </header>
            <section class="pb4">
                <p class="times measure mt0">
                    <div class="ui bulleted list">
                        <div class="item">Kirim email ke <a
                                href="mailto:yourhealth@gmail.com?Subject=Pendaftaran%20ahli"
                                target="_top">yourhealth@gmail.com</a> dan lampirkan
                            <div class="list">
                                <div class="item">Curriculum Vitae</div>
                                <div class="item">Badge Pengenal Kesehatan</div>
                                <div class="item">Sertifikat Kesehatan</div>
                            </div>
                        </div>
                        <div class="item">Anda akan dihubungi oleh pihak yourhealth</div>
                    </div>
                </p>
            </section>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-center m-auto">
        <h2>Testimonials</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item carousel-item active">
                    <div class="img-box"><img src="https://thispersondoesnotexist.com/image" alt=""></div>
                    <p class="testimonial">Sejak bergabung dengan yourhealth, relasi dan pengetahuan saya terus meningkat.
                        Saya juga senang dapat mendidik masyarakat akan isu kesehatan
                    </p>
                    <p class="overview"><b>Paula Wilson</b>, Dokter Umum</p>
                </div>
                <div class="item carousel-item">
                    <div class="img-box"><img src="https://thispersondoesnotexist.com/image" alt=""></div>
                    <p class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi
                        a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at
                        mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
                    <p class="overview"><b>Antonio Moreno</b>, Web Developer</p>
                </div>
                <div class="item carousel-item">
                    <div class="img-box"><img src="https://thispersondoesnotexist.com/image" alt=""></div>
                    <p class="testimonial">Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia.
                        Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt. Phasellus
                        risus risus, volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit dolor eget
                        rutrum.</p>
                    <p class="overview"><b>Michael Holz</b>, Seo Analyst</p>
                </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>

<% include ./partials/footer %>