<% include ../partials/header %>
<div class='container-fluid'>
    <div class="ui container alphabet">
        <div class="ui grid">
            <li href='/idx/a'><a href='/idx/a'>A</a></li>
            <li href='/b'>B</li>
            <li href='/c'>C</li>
            <li href='/d'>D</li>
            <li href='/e'>E</li>
            <li href='/f'>F</li>
            <li href='/g'>G</li>
            <li href='/h'>H</li>
            <li href='/i'>I</li>
            <li href='/j'>J</li>
            <li href='/k'>K</li>
            <li href='/l'>L</li>
            <li href='/m'>M</li>
            <li href='/n'>N</li>
            <li href='/o'>O</li>
            <li href='/p'>P</li>
            <li href='/q'>Q</li>
            <li href='/r'>R</li>
            <li href='/s'>S</li>
            <li href='/t'>T</li>
            <li href='/u'>U</li>
            <li href='/v'>V</li>
            <li href='/w'>W</li>
            <li href='/x'>X</li>
            <li href='/y'>Y</li>
            <li href='/z'>Z</li>
        </div>
    </div>
    <br>
    <hr>
    <% include ./a %><br>
    <% include ./b %><br>
    <% include ./c %><br>
    <% include ./d %><br>
    <% include ./e %><br>
    <% include ./f %><br>
    <% include ./g %><br>
    <% include ./h %><br>
    <% include ./i %><br>
    <% include ./j %><br>
    <% include ./k %><br>
    <% include ./l %><br>
    <% include ./m %><br>
    <% include ./n %><br>
    <% include ./o %><br>
    <% include ./p %><br>
    <% include ./q %><br>
    <% include ./r %><br>
    <% include ./s %><br>
    <% include ./t %><br>
    <% include ./u %><br>
    <% include ./v %><br>
    <% include ./w %><br>
    <% include ./x %><br>
    <% include ./y %><br>
    <% include ./z %><br>