<% include ../partials/header %>

<div class='container'>
    <div class="row vh-75 pv4">
        <div class="col-4">
            <div class="omni-calculator" data-calculator="health/blood-donor" data-width="300"
                data-config='{"action":{"label":"Saya hendak"},"blood_type":{"label":"Tipe Darah Saya"}}' data-currency="IDR"
                data-show-row-controls="false" data-version="3" data-t="1565524704623">
                <div class="omni-calculator-header">Blood Donor Calculator</div>
                <div class="omni-calculator-footer">
                    <a href="https://www.omnicalculator.com/health/blood-donor" target="_blank"></a>
                </div>
            </div>
            <script async src="https://cdn.omnicalculator.com/sdk.js"></script>
            <script async src="https://cdn.omnicalculator.com/sdk.js"></script>
        </div>
        <div class="col-8 pt5">
            <div>
                <p class='f3 tj'>Donor darah, meskipun patut dipuji, juga bisa sangat membingungkan. Tidak semua
                    golongan
                    darah kompatibel, jadi Anda mungkin menemukan bahwa tidak mungkin bagi Anda untuk menyumbangkan
                    darah kepada orang
                    tertentu. Jika anda bertanya-tanya kepada siapa anda dapat mendonorkan darah atau apa tipe donor
                    darah universal, tidak
                    perlu melihat lebih jauh dari kalkulator donor darah ini.
                </p>
            </div>
        </div>
    </div>
    <div class="row vh-75 pv4">
        <div class="col-4">
        </div>
        <div class="col-8 pt5">
            <p class='f3 fw6'>Kompabilitas Darah</p>
            <p class='f3 tj'>
                Ada empat jenis darah utama: A, B, AB, dan 0. Masing-masing dicirikan oleh kombinasi antigen yang
                berbeda yang ditemukan
                pada permukaan sel darah merah. Sebagai contoh, sel-sel merah dari golongan darah A hanya tercakup dalam
                antigen A,
                sedangkan sel-sel dari kelompok AB memiliki kedua antigen A dan B pada membran luarnya.
            </p>
            <p class='f3 tj'>
                Selain antigen, darah manusia mengandung antibodi. Antigen A selalu disertai oleh antibodi B, dan
                antigen B - oleh
                antibodi A. Menggabungkan antigen A dengan antibodi A atau antigen B dengan antibodi B menghasilkan
                reaksi aglutinasi -
                penggumpalan partikel darah. Karena reaksi itu, sangat penting hanya untuk mentransfer darah dari donor
                yang kompatibel.
            </p>
            <p class='f3 tj'>
                Kalkulator kompatibilitas golongan darah kami mempertimbangkan klasifikasi tambahan yang membagi darah
                menjadi dua
                kelompok: Rh + dan Rh-. Darah Rh dapat diterima oleh tipe Rh + dan Rh, tetapi darah Rh + hanya dapat
                ditransfer ke tipe
                Rh + lainnya.
            </p>
        </div>
    </div>
    <div class="row vh-50 pv4">
        <div class="col-4">
        </div>
        <div class="col-8 pt5">
            <p class='f3 tj'>BMI normal
                Kalkulator BMI memudahkan Anda untuk menemukan nomor Anda. Namun, harap diingat bahwa BMI
                adalah estimasi kasar. Hasilnya mungkin berbeda bagi individu yang aktif, atau bagi
                mereka yang pasif sehingga mengambil massa otot sebagai pertimbangan.
            </p>
        </div>
    </div>
</div>

<% include ../partials/footer %>