<% include ../partials/header %>

<div class='container'>
    <div class="row vh-75 pv4">
        <div class="col-4">
            <div class="omni-calculator" data-calculator="health/period" data-width="300"
                data-config='{"cycle_duration":{"label":"Durasi Siklus"},"period_duration":{"label":"Durasi Haid"},"date":{"label":"Haid terakhir"},"next_period_end":{"label":"Hari Terakhir"},"next_period_beginning":{"label":"Hari Pertama"},"ovulation_day":{"label":"Hari Ovulasi"},"fertile_window_end":{"label":"Hari Terakhir"},"fertile_window_beginning":{"label":"Hari Terakhir"}}'
                data-currency="IDR" data-show-row-controls="false" data-version="3" data-t="1565520728951">
                <div class="omni-calculator-header">Kalkulator Haid</div>
                <div class="omni-calculator-footer">
                    <a href="https://www.omnicalculator.com/health/period" target="_blank"></a>
                </div>
            </div>
            <script async src="https://cdn.omnicalculator.com/sdk.js"></script>
        </div>
        <div class="col-8 pt5">
            <div>
                <p class='f3 tj'>Kalkulator Siklus Menstruasi ini adalah alat yang harus dimiliki untuk setiap wanita
                    yang ingin memahami siklus menstruasinya.
                    Anda dapat menggunakan prediktor siklus menstruasi ini untuk menentukan kapan menstruasi berikutnya,
                    misalnya, untuk merencanakan
                    liburan bebas menstruasi. Anda juga dapat menggunakannya sebagai pelacak siklus menstruasi yang
                    memberi anda informasi akurat tentang
                    kapan waktu terbaik untuk hamil.
                </p>
            </div>
        </div>
    </div>
    <div class="row vh-75 pv4">
        <div class="col-4">
        </div>
        <div class="col-8 pt5">
            <p class='f3 fw6'>Prinsip Kalkulator Siklus Menstruasi</p>
            <div class="ui bulleted list">
                <div class="item f3">
                    Durasi Siklus. Siklus ini biasanya berlangsung selama 28 hari, jika tidak yakin tentang berapa lama
                    siklus anda, 28 hari
                    adalah perkiraan standar. Namun, jika anda sudah pernah menggunakan pelacak siklus menstruasi, anda
                    mungkin
                    tau siklus anda secara konsisten lebih lama atau lebih pendek - misalnya, 27 atau 30 hari.
                </div>
                <div class="item f3">
                    Durasi Haid. Beberapa wanita beruntung hanya mengalami pendarahan selama sekitar tiga hari,
                    sementara yang lain
                    mengalami menstruasi sekitar enam atau tujuh hari.
                </div>
                <div class="item f3">
                    Periode terakhir dimulai pada ... Informasi terakhir yang dibutuhkan adalah tanggal saat menstruasi
                    sebelumnya dimulai. Hari ini biasanya dipahami sebagai hari pertama siklus menstruasi Anda.
                </div>
            </div>
        </div>
    </div>
    <div class="row vh-50 pv4">
        <div class="col-4">
        </div>
        <div class="col-8 pt5">
            <p class='f3 fw6'>Kapan Menstruasi Selanjutnya ?</p>
            <p class='f3 tj'>
                Setelah memasukkan semua data ke dalam kalkulator siklus menstruasi, kalkulator akan secara otomatis
                memperkirakan tanggal ketika menstruasi berikutnya dimulai dan berakhir.</p>
            <p class='f3 tj'>
                Secara alami, menstruasi tidak selalu tepat dengan perhitungan, sehingga menstruasi mungkin akan terjadi
                beberapa hari lebih cepat atau lama. Namun, ini merupakan perkiraan yang cukup untuk mengetahui apakah anda
                akan mendapatkan menstruasi di saat-saat tertentu.
            </p>
        </div>
    </div>
</div>

<% include ../partials/footer %>