<% include ../partials/header %>
<div class='container-fluid'>
    <div class="row tc">
        <div class="col-6 col-md-4"><a href='/kalkulator/bmi'>Body Mass Index</a></div>
        <div class="col-6 col-md-4"><a href='/kalkulator/haid'>Haid</a></div>
        <div class="col-6 col-md-4"><a href='/kalkulator/donor'>Donor Darah</a></div>
    </div>
    <script async src="https://cdn.omnicalculator.com/sdk.js"></script>
</div>
<% include ../partials/footer %>